{% extends 'logged_base.html' %}
{% block fill %}
<div class="container">
<div class="col-12 col-sm-12 col-md-12">
      <div class="card">
        <nav class="navbar card-header navbar-expand-lg rounded">
          <div class="container-fluid">
            <h4 class="navbar-brand">Areas</h4>
            <a href="{% url 'garden:add-area' %}" class="btn">
              <i class="bi bi-plus-square"></i>
            </a>
          </div>
        </nav>
        <div class="card-body">
          <div class="media-list position-relative">
            <div class="table-responsive " id="project-team-scroll" tabindex="1" style="overflow: hidden; outline: none;">
              <table class="table table-hover table-xl mb-0">
                <thead>
                  <tr class="">
                    <th>Area number</th>
                    <th>Location</th>
                  </tr>
                </thead>
                <tbody>
                {% for area in areas %}
                  <tr class="">
                    <td class="text-truncate">{{area.pk}}</td>
                    <td class="text-truncate">{{area.location}}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}