{% extends 'logged_base.html' %}
{% block fill %}

    <div class="row mb-4 pb-4 align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-bg-light rounded-3">
          <h2>JOBS</h2>
          <p>Show list of jobs user is involved in</p>
          <a href="{% url 'garden:list-jobs' %}" class="btn btn-outline-dark"><i class="bi bi-arrow-right"></i></a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 text-bg-light rounded-3">
          <h2>TASKS</h2>
          <p>Show list of tasks user is involved in</p>
          <a href="{% url 'garden:list-tasks' %}" class="btn btn-outline-dark"><i class="bi bi-arrow-right"></i></a>
        </div>
      </div>
    </div>
{% if perms.garden.view_area %}
    <div class="row">
      <div class="col-lg-4">
        <div class="h-100 p-5 text-bg-light rounded-3">
          <h2>EMPLOYEES</h2>
          <p>Show list of employees. This view is restricted to supervisors</p>
          <a href="{% url 'garden:list-employees' %}" class="btn btn-outline-dark"><i class="bi bi-arrow-right"></i></a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="h-100 p-5 text-bg-light rounded-3">
          <h2>LOCATIONS</h2>
          <p>Show list of gardens locations. This view is restricted to supervisors</p>
          <a href="{% url 'garden:list-locations' %}" class="btn btn-outline-dark"><i class="bi bi-arrow-right"></i></a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="h-100 p-5 text-bg-light rounded-3">
          <h2>AREAS</h2>
          <p>Show list of areas. This view is restricted to supervisors</p>
          <a href="{% url 'garden:list-areas' %}" class="btn btn-outline-dark"><i class="bi bi-arrow-right"></i></a>
        </div>
      </div>
    </div>
  <div>
  </div>
{% endif %}
{% endblock %}